<!--
<br>
<form action="/users" method = "post" accept-charset = "UTF-9">
    <label for="username">Username</label>
    <input name="user[username]" id="username" type = "text"><br><br>
    <input type="hidden" name="authenticity_token" value = "<%= form_authenticity_token %>">
    <label for="email">email</label>
    <input type="email" id = "email" name = "user[email]"><br><br>
    <label for="password">password</label>
    <input type = "password" name = "user[password]" id = "password"><br><br>
    <input type="submit" value="Submit">
</form>    
-->

<br>
<%= form_tag("/users", method: "post") do %>
    <%= label_tag(:username, "Username")%>
    <%= text_field_tag(:username) %>
    <%= label_tag(:email, "email")%>
    <%= email_field_tag(:email) %>
    <%= label_tag(:password, "password")%>
    <%= password_field_tag(:password) %>
    <%= submit_tag(:submit) %>
<% end %>